.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px;
  background-color: rgb(27, 27, 27);
  color: white;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 25px;
}
